# ---------------------------------
#  System           platform value
# ---------------------------------
#  Windows          "win32"
# ---------------------------------
certifi==2024.8.30
charset-normalizer==3.3.2
colorama==0.4.6
configparser~=7.1.0
darkdetect==0.8.0
idna==3.10
loguru~=0.7.2
PyQt5~=5.15.11
PyQt-Fluent-Widgets~=1.7.2
pyqt5-frameless-window==0.4.3
pyqt5-qt5~=5.15.2
pyqt5-sip==12.15.0
pyqt5-stubs==5.15.6.0
pywin32==306; platform_system == "Windows"
psutil==5.9.5
requests==2.32.3
urllib3==2.2.3
win32-setctime==1.1.0
PyQtWebEngine~=5.15.7
Markdown~=3.7
pygame~=2.6.1
packaging~=24.2
PyGetWindow~=0.0.9
edge-tts~=7.0.0
pyttsx3==2.98
git+https://github.com/SmartTeachCN/pycses.git
pycaw>=20230407; platform_system == "Windows"
pulsectl>=22.3.2; platform_system == "Linux"
